# Windows cmd => copy .k28Example.env .env.production
# Ubuntu bash => cp .exampleK28.env .env.production
VITE_API_BASE="/j"
VITE_ORDER_K28="wss://k28u.com/j" # 區分不同平台的訂單資訊
VITE_CHAT_K28="wss://chat.k28u.com/" # chat 沒有 demo.chat.k28，只有指向到OTC後台的 third chat

