# Windows cmd => copy .example.env .env.production
# Ubuntu bash => cp .example.env .env.production
VITE_API_BASE="/j"
VITE_ORDER_WS="wss://k100u.com/j" # 區分不同平台的訂單資訊
VITE_CHAT_WS="wss://chat.k100u.com/" # chat 沒有 demo.chat.k100，只有指向到OTC後台的 third chat

